body {
    font-weight: 700;
    
}

.box {
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    

}

.boxTechnicalAndContact {
    display: flex;
    justify-content: center;
}

.technical {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 500px;
}

.contact {
background-color: rgb(255, 255, 255);
width: 600px;

}

.selectBox {
    width: 300px;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.25rem;
    color: #B325F6;
    background-color: white;
    border: 1px solid #B325F6;
    border-radius: 9px;
}

.goalBox {
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.25rem;
    color: #B325F6;
    background-color: white;
    border: 1px solid #B325F6;
    border-radius: 9px;
}