main {
    /* width: 100vw; */
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
}

/* HEADER CSS START */
header {
    width: 100vw;
    margin: 0;
    /* padding: 10px; */
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.site-logo {
    padding: 20px;
    margin-left: 50px;
    margin-right: auto;

}

nav {
    margin-right: 50px;
}

nav .link {
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.25rem;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 9px;
}

nav .link:hover {
    background-color: var(--primary-color);
    color: white;
}

/* HEADER CSS END */
/* CLIENTS CSS START */

.client-container {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    /* background-color: #f5f5f5; */
}

.client-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-bottom: 3px solid #CDCDCD;
    font-size: 1em;
    /*color: var(--primary-color);*/
    /*background-color: white;*/
    /*padding: 5px 15px; */
    /*border: 1px solid gray; */
    /*border-radius: 9px;*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    /**width: 75vw;*/
}

.client-short-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    width: fill-available;
    cursor: pointer;
    position: relative;
    /*margin: 0 15px;*/


    /*width: 951px;*/
    /*height: 0px;*/
    /*left: 92.01px;*/
    /*top: 673.51px;*/

}

.client-short-info .name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 1em;
}

.client-short-info .value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1.5em;

}

.client-short-info .button_type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1.5em;

}

.client-short-info:hover {
    background-color: #f0f0f0;
}

.client-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid gray;
    /*margin-bottom: 150px;*/
    overflow-x: hidden;
}

.client-contact {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

.client-contact p{
    font-weight: 450;
    margin: 7.5px;
}

.client-contact span{
    font-weight: 700;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.aprove-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align buttons horizontally in the center */
    justify-content: center;
    /* Align buttons vertically in the center */
    /*position: relative;*/
    width: 70px;
    height: 25px;
    background-color: #5DA21A;
    color: white;
    border-radius: 4.22727px;
    text-align: center;
}

.aprove-button:hover {
    background-color: #4B7E14;
}

.approve-forms form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.delete-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align buttons horizontally in the center */
    justify-content: center;
    /*position: relative;*/
    text-align: center;
    box-sizing: border-box;
    width: 70px;
    height: 25px;
    /* border: 1.5px solid #C30018; */
    background-color: #C30018;
    color: white;
    border-radius: 4.22727px;
}

.delete-button:hover {
    background-color: #A30014;
}